.header {
  height: 100vh;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
}

.top div a {
  font-size: 2.5rem;
  font-family: "Questrial", sans-serif;
  font-weight: 700;
}

/* .nav ul {
  background-color: rgb(28, 107, 152);
} */
.nav {
  width: 70%;
}

.nav ul {
  display: flex;
  justify-content: space-between;
}

.nav li {
  display: inline-block;
  font-family: "Questrial", sans-serif;
  font-weight: 500;
  color: #383838;
}

.nav li a {
  font-size: 1.8rem;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.nav li a:hover {
  color: rgba(19, 69, 185, 0.95);
}

.main {
  margin-top: 12rem;
}

.main div h1 {
  display: inline-block;
  font-size: 19rem;
  font-weight: 700;
  font-family: "Cinzel", serif;
  color: #383838;
  white-space: nowrap;
  letter-spacing: 1rem;
}

.text {
  margin-left: 14rem;
}

.main h2 {
  width: 30%;
  line-height: 1.6;
  float: right;
  margin-top: 1rem;
  font-size: 2.1rem;
  font-weight: 900;
  font-family: "Questrial", sans-serif;
  user-select: none;
  color: #534f4f;
  letter-spacing: 0.3px;
}

.e {
  font-size: 15rem;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: rgba(19, 69, 185, 0.95);
}

.main i {
  color: rgba(19, 69, 185, 0.95);
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
}

.control {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
}
.control svg {
  font-size: 1rem;
  font-family: "Questrial", sans-serif;
  border: solid 1px #383838;
  background-color: #333;
  color: #fff;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  padding: 1.2rem;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

  animation: bounce 1.5s infinite ease-in-out;
}
.control svg:hover {
  transform: scale(1.1);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 1850px) {
  .text {
    margin-left: 0rem;
  }
  .main h2 {
    width: 40%;
  }
}
@media screen and (max-width: 1500px) {
  .main div h1 {
    font-size: 15rem;
  }
}

@media screen and (max-width: 1280px) {
  .main div h1 {
    font-size: 14rem;
  }
  .break {
    display: none;
  }
}

@media screen and (max-width: 884px) {
  .main div h1 {
    font-size: 14rem;
  }

  .nav li {
    margin-left: 23rem;
  }

  .e {
    font-size: 9rem;
  }

  .main .text {
    margin-left: 0rem;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .main {
    margin-top: 7rem;
    margin-bottom: 5rem;
  }

  .nav li {
    display: none;
  }

  .main div h1 {
    line-height: 13rem;
  }

  .e {
    font-size: 15rem;
    margin-left: 10rem;
  }
}

@media screen and (max-width: 500px) {
  .header {
    height: 75vh;
  }

  .main {
    margin-top: 12rem;
  }

  .main div h1 {
    font-size: 8.3rem;
    line-height: 7rem;
    letter-spacing: 2px;
  }

  .e {
    font-size: 5rem;
  }

  .main h2 {
    width: 101%;
    float: unset;
    margin-top: 4rem;
  }
}

@media screen and (max-width: 375px) {
  .main div h1 {
    font-size: 7rem;
    line-height: 6rem;
  }
}
