.project {
  padding: 10rem 0;
  margin-top: 3rem;

  position: relative;
}
.title {
  display: flex;
  align-items: baseline;
  margin-left: 5rem;
  margin-bottom: 3rem;
}
.title h1 {
  font-size: 8rem;
  font-family: "Questrial", sans-serif;
  color: #414141;
}
.color {
  color: rgba(19, 69, 185, 0.95);
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
.count {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Cinzel", serif;
  margin-left: 1rem;
}

@media screen and (max-width: 1280px) {
  .view {
    margin-right: 5rem;
  }
  .title {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 500px) {
  .marl {
    display: block;
  }
}
@media screen and (max-width: 428px) {
  .count {
    position: absolute;
    left: 75%;
    top: 7.5%;
  }
  .marl {
    margin-left: 6rem;
  }
}
