@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Fugaz+One&family=Gravitas+One&family=Questrial&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: solid 1px rgba(19, 69, 185, 0.95); */
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
  background-color: #f2f2f2;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  background-attachment: fixed;
  user-select: none;
}
::-webkit-scrollbar {
  width: 10px;
  margin-left: 2rem;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 2rem;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #333;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

@media screen and (min-width: 2500px) {
  html {
    font-size: 100%;
  }
}
@media screen and (min-width: 2000px) {
  html {
    font-size: 92%;
  }
}
@media screen and (min-width: 1600px) {
  html {
    font-size: 74%;
  }
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 65%;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 44%;
  }
}
